<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.screen.portrait"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:replace="android:icon">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2838402743054690~6699653912"/>

        <activity
            android:name=".MainMenu"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unidad"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcosmiranda.cursoestadisticabasica.MainMenu" />
        </activity>
        <activity
            android:name=".Tema"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcosmiranda.cursoestadisticabasica.MainMenu" />
        </activity>
        <activity
            android:name=".Subtema"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcosmiranda.cursoestadisticabasica.MainMenu" />
        </activity>
        <activity
            android:name=".Formula"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcTamanioMuestraProporcion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcTamanioMuestraMedia"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcIntervaloConfianzaMediaPoblacionConocida"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcIntervaloConfianzaMediaPoblacionDesconocida"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcIntervaloConfianzaProporcionPoblacionConocida"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcIntervaloConfianzaProporcionPoblacionDesconocida"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcPruebaHipotesisProporcionPoblacional"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcPruebaHipotesisMediaPoblacional"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcPruebaHipotesis2ProporcionesPoblacionales"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcPruebaHipotesis2MediasPoblacionales"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDistBinomial"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcReglaAdicion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcReglaMultiplicacion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcProbTeorica"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcProbEmpirica"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcReglaComplemento"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcTeoremaBayesSimple"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDistPoisson"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDistHipergeometrica"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDistNormalProbabilidades"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDistNormalEstandarizacion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDistMuestra"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDescriptivaVariableCuantitativa"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDescriptivaVariableCualitativa"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcChiCuadrado"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcFFisher"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcTStudent"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RNG"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatrizDatos"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatrizDatos2Variables"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDescriptiva2VariablesCuantitativas"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDescriptiva2VariablesCualitativas"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcDescriptiva2VariablesMixtas"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcTamanioMuestra2ProporcionesPoblaciones"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalcTamanioMuestra2MediasPoblaciones"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MuestreoAleatorioSimple"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MuestreoAleatorioSistematico"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MuestreoAleatorioEstratificado"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MuestreoAleatorioConglomerados"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>