<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:replace="android:icon">
        <activity
            android:name=".MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unidad"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcosmiranda.cursoestadisticabasica.MainMenu" />
        </activity>
        <activity
            android:name=".Tema"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcosmiranda.cursoestadisticabasica.MainMenu" />
        </activity>
        <activity android:name=".Formula" />
        <activity android:name=".CalcTamanioMuestraProporcion" />
        <activity android:name=".CalcTamanioMuestraMedia" />
        <activity android:name=".CalcIntervaloConfianzaMediaPoblacionConocida" />
        <activity android:name=".CalcIntervaloConfianzaMediaPoblacionDesconocida" />
        <activity android:name=".CalcIntervaloConfianzaProporcionPoblacionConocida" />
        <activity android:name=".CalcIntervaloConfianzaProporcionPoblacionDesconocida" />
        <activity android:name=".CalcPruebaHipotesisProporcionPoblacional" />
        <activity android:name=".CalcPruebaHipotesisMediaPoblacional" />
        <activity android:name=".CalcPruebaHipotesis2ProporcionesPoblacionales" />
        <activity android:name=".CalcPruebaHipotesis2MediasPoblacionales" />
        <activity android:name=".CalcDistBinomial" />
        <activity android:name=".CalcReglaAdicion" />
        <activity android:name=".CalcReglaMultiplicacion" />
        <activity android:name=".CalcProbTeorica" />
        <activity android:name=".CalcProbEmpirica" />
        <activity android:name=".CalcReglaComplemento" />
        <activity android:name=".CalcTeoremaBayesSimple" />
        <activity android:name=".CalcDistPoisson" />
        <activity android:name=".CalcDistHipergeometrica" />
        <activity android:name=".CalcDistNormalProbabilidades" />
        <activity android:name=".CalcDistNormalEstandarizacion" />
        <activity android:name=".CalcDistMuestra" />
        <activity android:name=".CalcDescriptivaVariableCualitativa" />
        <activity android:name=".CalcChiCuadrado" />
        <activity android:name=".CalcFFisher" />
        <activity android:name=".CalcTStudent" />
        <activity android:name=".RNG" />
        <activity android:name=".MatrizDatos" />
        <activity android:name=".Desviaciones" />
        <activity android:name=".Cuartiles" />
        <activity android:name=".MedidasTendenciaCentral" />
        <activity android:name=".MatrizDatos2Variables" />
        <activity android:name=".CalcDescriptiva2VariablesCuantitativas" />
        <activity android:name=".CalcDescriptiva2VariablesCualitativas" />
        <activity
            android:name=".MasApps"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcosmiranda.cursoestadisticabasica.MasApps" />
        </activity>
    </application>

</manifest>